---
import Layout from "../../layouts/Layout.astro";
import { getAllPosts, getPost } from "../../lib/posts";

export async function getStaticPaths() {
  const posts = getAllPosts();

  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const post = await getPost(Astro.params.slug!);
---

<Layout>
  {
    !!post ? (
      <article>
        <h1>{post.title}</h1>
        <p>{post.date}</p>

        <div set:html={post.contentHtml} />
      </article>
    ) : (
      <p>Not found 404</p>
    )
  }
</Layout>
