---
import AuthAdminLayout from "../../../layouts/AuthAdminLayout.astro";
import { createPost } from "../../../lib/posts";

const sessionCookie = Astro.cookies.get("session");
if (sessionCookie?.value !== "unsecure_session") {
  return Astro.redirect("/admin/login");
}

let error = "";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const title = ((formData.get("title") as string) || "").trim();
  const slug = ((formData.get("slug") as string) || "").trim();
  const date = ((formData.get("date") as string) || "").trim();
  const content = ((formData.get("content") as string) || "").trim();

  if (!title || !slug || !date || !content) {
    error = "Fill all required fields";
  } else {
    const success = createPost(slug, title, date, content);

    if (!success) {
      error = "Slug already in use";
    } else {
      return Astro.redirect(`/admin/posts/${slug}`);
    }
  }
}
---

<AuthAdminLayout>
  <h1>New article</h1>
  {error && <p>{error}</p>}
  <form method="POST">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required />
    </div>
    <div>
      <label for="slug">Slug</label>
      <input type="text" id="slug" name="slug" required pattern="[a-z0-9\-]+" />
    </div>
    <div>
      <label for="date">Date</label>
      <input type="date" id="date" name="date" required />
    </div>
    <div>
      <label for="content">Content (markdown)</label>
      <textarea id="content" name="content" required></textarea>
    </div>
    <button type="submit">Create</button>
    <a href="/admin">Cancel</a>
  </form>
</AuthAdminLayout>
